charset-normalizer==3.4.2
colorama==0.4.6
fonttools==4.58.5
format-currency==0.0.10
gitdb==4.0.12
idna==3.10
kiwisolver==1.4.8
MarkupSafe==3.0.2
narwhals==1.47.0
numpy==2.3.1
packaging==25.0
pandas==2.3.1
pillow==11.3.0
protobuf==6.31.1
pyarrow==20.0.0
Pygments==2.18.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
rpds-py==0.21.0
six==1.16.0
smmap==5.0.1
tenacity==9.0.0
toml==0.10.2
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
matplotlib
